.login-container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/mahjong_poster.jpg'); /* 确保路径正确 */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* 改为列布局 */
    justify-content: flex-end;
    align-items: center;
    // padding: 20px; /* 可选：添加一些内边距以避免按钮贴边 */

    .login-btn {
        border-radius: 999px;
        margin-bottom: 20px; /* 移除不必要的底部外边距 */
    }
}